<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EU SONGBOOK</title>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../components/header.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="/admin"><img id="logo" src="../images/EUsongbookLogo.png" alt="EU_Songbook_Logo"></a>
            </div>
            <div class="title">
                <a href="/">
                    <h1>The European Union Songbook</h1>
                </a>
            </div>
            <div class="empty-corner">
                        
            </div>
        </div>
        
        <div class="menu-bar">
            <div class="songs dropdown">
                <button class="dropbtn">162 Songs</button>
                <div class="dropdown-content dropdown-menu-center">
                      <a href="/six_categories">6 Categories</a>
                      <a href="/nominations_per_country">Nominations per Country</a>
                      <a href="/">Vote Here</a>
                </div>
            </div>
            <div class="press dropdown">
                <button class="dropbtn">Press</button>
                <div class="dropdown-content dropdown-menu-center">
                      <a href="/press_releases">Press Releases</a>
                      <a href="/media_coverage">Media Coverage</a>
                </div>
            </div>
            <div class="local-partners dropdown">
                <button class="dropbtn">Partners</button>
                <div class="dropdown-content dropdown-menu-center">
                    <a href="/local_partners">Local Partners</a>
                    <a href="/translators">Translators</a>
              </div>
            </div>
            <div class="about-us dropdown">
                <button class="dropbtn">About Us</button>
                <div class="dropdown-content dropdown-menu-center">
                      <a href="/mission_statement">Mission Statement</a>
                      <a href="/who_we_are">Who We Are</a>
                      <a href="/statutes">Statutes</a>
                      <a href="/contact_us">Contact Us</a>
                      <a href="/donate">Donate</a>                    
                </div>
            </div>
        </div>

        <script>
            $.ajax({
                url: '/loggedinquery',
                type: 'GET'
            }).done(function(data) {
                if (data.loggedin === 'yes') {
                    $(".empty-corner").html(`<br><br><button type="submit"  id="logOutButton">Admin Log Out</button>`);
                }

                $(`#logOutButton`).click((event) => {
                event.preventDefault();
                const sonFormObj = {'action': 'logout'};
                
                $.ajax({
                    url: '/logout',
                    type: 'POST',
                    data: sonFormObj,
                    dataType: 'json'
                }).done(function(data) {
                    if (data) {
                        window.localStorage.removeItem("user");
                        $(".empty-corner").remove(`#logOutButton`);
                        location.reload(true);
                    }
                });
            });
        });

            
        </script>

        <!-- <div class="left-margin"></div>
        <div class="content-body">
            
        </div>
        <div class="right-margin"></div>
        <div class="footer">
            FOOTER
        </div>-->
    </div>
</body>
</html>