<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EU SONGBOOK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../components/layout.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                LOGO
            </div>
            <div class="title">
                <h1>The European Union Songbook</h1>
            </div>
            <div class="empty-corner">
                
            </div>
        </div>
        
        <div class="menu-bar">
            <div class="songs">
                162 Songs
            </div>
            <div class="press">
                Press
            </div>
            <div class="local-partners">
                Local Partners
            </div>
            <div class="about-us">
                About Us
            </div>
        </div>
        <div class="content-body">
            CONTENT
        </div>
        <div class="footer">
            FOOTER
        </div>
    </div>
</body>
</html>