.container {
    min-height: 130px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-gap: 0.1em;
}

.header {
    background-color: rgb(219, 212, 194);
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 0.1em;
}

.logo {
    grid-column: 1/2;
    text-align: center;
}

.title {
    grid-column: 2/3;
    color: goldenrod;
    text-align: center;
}

.empty-corner {
    grid-column: 3/4;
    text-align: center;

}

.menu-bar {
    background-color: rgb(207, 194, 163);
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.1em;
}

.songs {
    background-color: rgb(230, 214, 179);
    grid-column: 2/3;
    text-align: center;
    padding: 0.4em;
}

.press {
    background-color: rgb(230, 214, 179);
    grid-column: 3/4;
    text-align: center;
    padding: 0.4em;
}

.local-partners {
    background-color: rgb(230, 214, 179);
    grid-column: 4/5;
    text-align: center;
    padding: 0.4em;
}

.about-us {
    background-color: rgb(230, 214, 179);
    grid-column: 5/6;
    text-align: center;
    padding: 0.4em;
}

.dropbtn {
    background-color: rgb(230, 214, 179);
    padding: 0.4em;
    font-size: 1.1em;
    border: none;
    border-radius: 0.2em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: (230, 214, 179);
    min-width: 1fr;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: rgb(230, 214, 179);
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu-center {
    width: 100% !important;
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

.dropdown-content a:hover {
    background-color: rgb(207, 194, 163);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #daa520;
}

.left-margin {
    background-color: rgb(219, 212, 194);
    grid-column: 1/2;
}

.content-body {
    background-color: rgb(219, 212, 194);
    grid-column: 2/3;
}

.right-margin {
    background-color: rgb(219, 212, 194);
    grid-column: 3/4;
}

.footer {
    background-color: rgb(207, 194, 163);
    grid-column: 1/7;
}

a {
    text-decoration: none;
    color: inherit;   
}