<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EU SONGBOOK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../components/layout.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                LOGO
            </div>
            <div class="title">
                <h1>The European Union Songbook</h1>
            </div>
            <div class="empty-corner">
                
            </div>
        </div>
        
        <div class="menu-bar">
            <div class="songs dropdown">
                <button class="dropbtn">162 Songs</button>
                <div class="dropdown-content">
                      <a href="#">6 Categories</a>
                      <a href="#">Nominations per Country</a>
                      <a href="#">Vote Here</a>
                </div>
            </div>
            <div class="press dropdown">
                <button class="dropbtn">Press</button>
                <div class="dropdown-content">
                      <a href="#">Press Releases</a>
                      <a href="#">Media Coverage</a>
                </div>
            </div>
            <div class="local-partners dropdown">
                <button class="dropbtn">Partners</button>
                <div class="dropdown-content">
                    <a href="#">Local Partners</a>
                    <a href="#">Translators</a>
              </div>
            </div>
            <div class="about-us dropdown">
                <button class="dropbtn">About Us</button>
                <div class="dropdown-content">
                      <a href="#">Mission Statement</a>
                      <a href="#">Who We Are</a>
                      <a href="#">Statutes</a>
                      <a href="#">Contact Us</a>
                      <a href="#">Donate</a>                    
                </div>
            </div>
        </div>
        <div class="content-body">
            CONTENT
        </div>
        <div class="footer">
            FOOTER
        </div>
    </div>
</body>
</html>